  .project-card {
      background: black;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      padding: 10px 10px;
      border: 1px solid white;
      border-radius: 10px;
      width: 300px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      gap: 5px;
      height: 450px;
  }

  .project-card__title {
      text-align: center;
      margin: 5px;
  }

  .project-card__img {
      background-color: white;
      width: 200px;
      height: 200px;
      margin: auto;
      border: 3px solid white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: stretch;
  }

  .project-card__img img {
      width: 100%;
  }

  .project-card__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  .project-card__description {
      font-size: 16px;

  }

  @media (max-width: 700px) {
      .project-card {
          width: 250px;
          height: 450px;
      }

      .project-card__img {
          width: 200px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: stretch;
          margin: auto;

      }

      .project-card__img img {
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;

      }

  }