:root {
    --red-color: #E71224;
    --font-title: 'Playfair Display SC', serif;
    --font-text: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: 0;
    font-family: var(--font-text);
    text-align: justify;
    font-weight: normal;

}

/*  section {
        background-image: none;
    } */

.title {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-size: 36px;


}

.title2 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-size: 24px;

}

.title3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
}

@media (min-width: 700px) {
    .title {
        font-size: 48px;
    }

    .title2 {
        font-size: 36px;
    }

    .title3 {
        font-size: 24px;
    }

    .text {
        font-size: 24px;
    }
}