.banner {
    height: 100vh;
    background: #000000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.banner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
    margin: auto;
}

.banner__title {
    font-family: 'Playfair Display SC', serif;
    background-image: url(https://media.giphy.com/media/KBFE5J0I8SLbKL7FlT/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 4rem;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px) {
    .banner__title {
        font-size: 5rem;
    }
}

@media (min-width: 1024px) {
    .banner__title {
        font-size: 6rem;
    }
}